<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    <title>Eet smakelijk!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body id="after">
    <header>
        <div id="after-box">
            <h1>U bent succesvol geregistreerd.</h1><hr>
            <p>Vergeet u niet uit te checken aan het einde van uw bezoek!</p>
            </div>
    </header>
    <main>
    </main>
</body>
</html>