<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    <title>Eet smakelijk!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body id="after">
    <div id="after-box">
    <h1>U bent succesvol geregistreerd.</h1><hr>
    <p>Vergeet u niet uit te checken aan het einde van uw bezoek!</p>
    </div>
    <img src="smakelijk.png" alt="" width="50%">
</body>
</html>