<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uitgecheckt!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body id="checkout-bedankt">
    <header id="bedankt">
        <h1>U bent succesvol uitgecheckt!</h1>
    </header>
    <main>
    </main>
    <footer id="myfooter">
        <i>&copy; Copyright 2020 Elie Mukau Ambel || All rights reserved.</i>        
</footer>
</body>
</html>