<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body id="homepage_body">
    <header>
        <div id="homepage_header">
            <img src="../images/banner.jpg" alt="" width="500" height="400">
        </div> 
    </header>
    <main>
        <h1>Welkom bij vandaagzitikhier.be</h1>
        <div id="text_homepage">
            <p>Omdat iedereen verplicht is om zich te registreren bij elk HORECA-bezoek, heb ik deze website gemaakt om het te vergemakkelijken.</p>
            <p>De gegevens worden niet gebruikt voor commerciële-, marketing- of andere doeleinden en worden automatisch verwijderd.</p>
        </div>
        <div id="homepage_button">
            <button onclick="window.open('http://localhost:3000/contact')">NEEM CONTACT OP</button>
        </div>
    </main>
    <footer id="myfooter">
            <i>&copy; Copyright 2020 Elie Mukau Ambel || All rights reserved.</i>        
    </footer>
</body>
</html>