<!DOCTYPE html>
<html lang="nl-BE">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Check-In-Out</title>
</head>
<body id="index">
  <header>
    <h1>Welkom bij vandaagzitikhier.be</h1>
    <p>Het is belangrijk dat iedere persoon zich apart registreert.<br> Registratie is verplicht!</p>
  </header>
  <main>
    <div id="check-in-out-buttons">
    <div id="check-in">
      <button onclick="window.open('/user')">CHECK-IN</button>
    </div><br><br><br><br>
    <div id="check-out">
      <button onclick="window.open('/checkout')">CHECK-OUT</button>
    </div>      
    </div>
  </main>
  <footer id="myfooter">
    <i>&copy; Copyright 2020 Elie Mukau Ambel || All rights reserved.</i>
  </footer>
</body>
</html>