<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">  <title>Welcome</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body id="index">
  <header>
    <h1>Welkom bij vandaagzitikhier.be</h1>
    <p>Het is belangrijk dat iedere persoon zich apart registreert.<br> Registratie is verplicht!</p>
  </header>
  <main>
    <div id="check-in-out-buttons">
    <div id="check-in">
      <button onclick="window.open('http://localhost:3000/user')">CHECK-IN</button>
    </div><br><br><br><br>
    <div id="check-out">
      <button onclick="window.open('http://localhost:3000/checkout')">CHECK-OUT</button>
    </div>      
    </div>
  </main>
  <footer>
    <i>&copy; Copyright 2020 Elie Mukau Ambel || All rights reserved.</i>
  </footer>
</body>
</html>